<!DOCTYPE html>
    {{> include/head}}


    <body>
    <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle " data-toggle="collapse" data-target="#navbar-collapse-01">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="#">Guardia</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-01">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#fakelink">Home</a></li>
                <li><a href="#fakelink">Features</a></li>
            </ul>
            <form class="navbar-form navbar-right" action="#" role="search">
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" id="navbarInput-01" type="search" placeholder="Search">
                    </div>
                </div>
            </form>
        </div>
    </nav>
    <div class="container">
        <h1>Guardia</h1>
    </div>
    
    <div id="content">
        {{#posts}}
        <div style="padding-bottom: 20px; border-bottom: 1px solid black">
            <h4>{{title}}</h4>
            <div>{{synopsis}}</div>
        </div>
        {{/posts}}
    </div>
    
    {{> include/jsfoot}}
  </body>
</html>
