<!-- jQuery (necessary for Flat UI's JavaScript plugins) -->
<script src="bower_components/flat-ui/dist/js/vendor/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="bower_components/flat-ui/dist/js/vendor/video.js"></script>
<script src="bower_components/flat-ui/dist/js/flat-ui.min.js"></script>
